.noteList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 16px;
  transition: all 0.4s cubic-bezier(.4, 2, .6, 1);
  padding: 10px;
  justify-items: center;
  align-items: start;
  background: repeating-linear-gradient(to right,
      transparent 0px,
      transparent 39px,
      rgba(0, 0, 0, 0.05) 40px),
    repeating-linear-gradient(to bottom,
      transparent 0px,
      transparent 39px,
      rgba(0, 0, 0, 0.05) 40px);
}