@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Caveat&family=Averia+Serif+Libre&family=Roboto+Mono&family=Recursive&family=Archivo+Narrow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background-image: url("https://i.imgur.com/AAFP0YP.png");
    background-size: 750px 400px; 
    background-repeat: repeat;
}